Package: lake
Version: 1.0.0+unification-and-reduction-of-flakes
Architecture: amd64
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: init-system-helpers (>= 1.18~), libzmq5 (= 4.2.1-4)
Section: openbank
Priority: extra
Vcs-Git: git@github.com:jancajthaml-openbank/lake.git
Description: Openbank messaging relay
