Package: lake
Version: 1.2.2+packaging-improvements
Section: misc
Priority: extra
Architecture: amd64
Vcs-Git: https://github.com/jancajthaml-openbank/lake.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: libzmq5 (>= 4.2.1~), libc6
Description: message relay for openbank
 ZMQ backed message relay for OpenBank services.
