[Unit]
Description=openbank lake message relay
PartOf=lake.service
After=lake.service
Requires=lake.service

[Service]
Type=notify
EnvironmentFile=/etc/lake/conf.d/init.conf
StartLimitBurst=0
ExecStart=/usr/bin/lake
StandardInput=null
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=0
TimeoutStartSec=0
SuccessExitStatus=2
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=lake.service
