[Unit]
Description=openbank lake message relay
After=inetd.service

[Service]
Type=simple
EnvironmentFile=/openbank/services/lake/params.conf
ExecStart=/openbank/services/lake/start.sh
ExecStop=/openbank/services/lake/stop.sh
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=1
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
