#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --with=config-package

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p ./debian/tmp
	$(MAKE) install

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_systemd_enable
	dh_install
	dh_movefiles
	dh_compress
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb --destdir=./bin/deb

override_dh_installdeb:
	dh_installdeb
	rm debian/*/DEBIAN/conffiles

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
