[Unit]
Description=openbank lake message relay
After=inetd.service
ConditionPathExists=/etc/init/lake.conf

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
