Package: lake
Version: 1.1.7+fix-changelog
Section: misc
Priority: extra
Architecture: arm64
Vcs-Git: https://github.com/jancajthaml-openbank/lake.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: libzmq5 (>= 4.2.1~), libc6
Description: message relay for openbank
 ZMQ backed message relay for OpenBank services.
